*.a
*.bundle
*.gem
*.o
*.rbc
*.so
.bower-cache
.bower-registry
.bower-tmp
.env
.DS_Store
/.bundle/
/.platform/local/
/.config
/.yardoc
/coverage/
/doc/
/InstalledFiles
/pkg/
/public/screencaps/*
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/_yardoc/
bower_components
app/public/bower_components
dump.rdb
mkmf.log
